.mt-3 {
  margin-top: 30px;
}
.ml-1 {
  margin-left: 10px;
}
.woocommerce button.button {
  margin-bottom: 20px;
}
button.button.remove-tip {
  background: #cc1818;
  margin-left: 10px;
}
.additives {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.layout-additives .additives {
  justify-content: center;
}
.additives ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 20px 0 0;
}
.additives ul li {
  list-style: none;
  display: inline-block;
}
.additives table img,
.additives li a img {
  max-width: 80px;
}
.additives table tbody > tr > td:first-child {
  width: 110px;
}
.food_extras p {
  margin-bottom: 5px;
}
.food_extras p.option-title {
  margin-top: 15px;
}
.food_extras input,
.food_extras label {
  cursor: pointer;
}
.wp_liefer_extra_option {
  display: inline-block;
  margin-right: 10px;
}
.wp_liefer_extra_option input.change_quantity {
  max-width: 60px;
  padding: 3px 8px;
  margin-left: 8px;
  border-radius: 3px;
}

/* Products Layout */
.wpliefer-product-layout .products.grid {
  column-gap: 20px;
  flex-wrap: wrap;
}
.wpliefer-product-layout .grid.column-1 .product {
  width: 100%;
}
.wpliefer-product-layout .grid.column-2 .product {
  width: 48%;
}
.wpliefer-product-layout .grid.column-3 .product {
  width: 31%;
}
.wpliefer-product-layout .grid.column-4 .product {
  width: 23%;
  padding: 10px;
}
.wpliefer-product-layout .grid.column-5 .product {
  width: 18%;
  padding: 0px;
}
.wpliefer-product-layout .grid.column-6 .product {
  width: 14%;
  padding: 0px;
}
.wpliefer-product-layout .grid.column-4 .product h3,
.wpliefer-product-layout .grid.column-5 .product h3,
.wpliefer-product-layout .grid.column-6 .product h3 {
  font-size: 1.1rem;
  margin-top: 10px;
}
.wpliefer-product-layout .grid.column-4 .product .button.add_to_cart,
.wpliefer-product-layout .grid.column-5 .product .button.add_to_cart,
.wpliefer-product-layout .grid.column-6 .product .button.add_to_cart {
  padding: 5px;
}
.wpliefer-product-layout .product {
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 5px 0px;
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.wpliefer-product-layout .product img {
  object-fit: contain;
  max-width: 100px;
}
.wpliefer-product-layout .button.add_to_cart {
  text-align: center;
  background-color: #ce1635;
  color: #fff;
  padding: 10px 30px;
  border-radius: 20px;
  width: max-content;
  text-decoration: none;
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 10px;
}
.cat-title-tabs.left_tabs .tab-menu.vertical {
  padding: 20px;
  background: #eff4f7;
}
.wpliefer-product-layout .cat-title {
  background: #f6f6f6;
  padding: 5px 15px;
  margin-bottom: 10px;
}
.wpliefer-product-layout .grid .product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wpliefer-product-layout .product h3 {
  margin-top: 20px;
  font-size: 1.5rem;
}
.wpliefer-product-layout .grid .product h3 {
  font-size: 1.5rem;
  margin-top: 18px;
}
.wpliefer-product-layout .tab-menu.horizontal {
  align-items: center;
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}
.wpliefer-product-layout .tab-menu.vertical {
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.wpliefer-product-layout .tab-menu.vertical li {
  margin-bottom: 10px;
}

.wpliefer-product-layout .tab-menu.horizontal li {
  margin-right: 10px;
}
.wpliefer-product-layout .tab-menu li a {
  display: block;
  background-color: #eee;
  color: #333;
  text-decoration: none;
  padding: 5px 25px;
  border-radius: 20px;
}
.wpliefer-product-layout .tab-menu li.active a {
  background-color: #333;
  color: #fff;
}
.wpliefer-product-layout .tab-content .tab-pane {
  display: none;
  transition: 0.3s all;
}
.wpliefer-product-layout .tab-content .tab-pane.active {
  display: block;
}
.layout-additives p {
  margin: 0;
}
.layout-additives .additives img {
  max-width: 40px;
}

/* Checkout Delivery Info */
.delivery-option label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #eee;
  color: #444;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  width: 50%;
}
.delivery-option input[type="radio"] {
  visibility: hidden;
  width: 0px;
}
.delivery-option input[type="radio"]:checked + label,
.delivery-option label.active {
  background-color: #1bae70;
  color: #fff;
}
.delivery-option .woocommerce-input-wrapper {
  display: flex;
}
#wp_liefer_delivery_option_field,
#wp_liefer_pickup_option_field {
  margin: 0;
  padding: 0;
}
#wp_liefer_delivery_option_field label:before {
  content: "\2713";
  color: #eee;
  padding-right: 5px;
}
.delivery-datetime-picker,
.pickup-datetime-picker {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  border: 2px solid #1bae70;
}
#branchModal .delivery-datetime-picker,
#branchModal .pickup-datetime-picker {
  display: block;
  border: 0;
}
#branchModal select#wp_liefer_branch_select {
  margin-bottom: 15px;
}
.delivery-datetime-picker .form-row,
.pickup-datetime-picker .form-row {
  width: 50%;
}
/* #wp_liefer_delivery_timepicker_field,
#wp_liefer_pickup_timepicker_field {
  display: none;
} */
@media (min-width: 922px) {
  #wp_liefer_delivery_option_field,
  #wp_liefer_pickup_option_field,
  .wp-liefer-delivery-info .delivery-datetime-picker,
  .wp-liefer-delivery-info .pickup-datetime-picker {
    width: 55%;
  }

  #branchModal #wp_liefer_delivery_option_field,
  #branchModal #wp_liefer_pickup_option_field,
  #branchModal .wp-liefer-delivery-info .delivery-datetime-picker,
  #branchModal .wp-liefer-delivery-info .pickup-datetime-picker {
    width: 100%;
  }
}

/* The Modal (background) */
.admin-bar #productModal,
.admin-bar #branchModal {
  margin-top: 32px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
#productModal .modal {
  overflow: auto;
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 0;
  border-radius: 20px;
  width: 96%;
  max-width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
#branchModal .modal-content {
  max-width: 480px;
  min-height: 346px;
}
#branchModal .modal-content {
  max-width: 480px;
}
#branchModal .modal-body {
  padding: 30px;
  min-height: 346px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#branchModal .wp_liefer_save_cookies {
  display: block;
  margin: 20px auto 0px;
  max-width: 100%;
}
#branchModal .wp-liefer-delivery-info {
  border: 1px solid #eee;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modal .close {
  color: #333;
  font-size: 25px;
  position: absolute;
  right: 10px;
  top: 0px;
  border-radius: 50%;
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
}
.modal .close:hover,
.modal .close:focus {
  text-decoration: none;
  cursor: pointer;
}
.modal-body {
  padding: 2px 16px;
  height: 100%;
  overflow: hidden;
}
iframe#productEmbed {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 12px;
  padding: 30px 0;
}
.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
  float: none;
  width: 100%;
}
.woocommerce div.product div.images.woocommerce-product-gallery {
  width: 100%;
}
.wp_liefer_extra_option label {
  font-size: 13px;
}
.woocommerce div.product form.cart div.quantity {
  float: none;
}
@media (max-width: 1024px) {
  .elementor.product .elementor-section .elementor-container {
    flex-wrap: nowrap;
  }
}

@media (max-width: 768px) {
  .elementor.product .elementor-section .elementor-container {
    flex-wrap: wrap;
  }
}
#productModal header,
#productModal .header,
#productModal footer,
#productModal .footer,
#productModal .elementor-location-header,
#productModal .elementor-top-section,
#productModal .site-header,
#productModal .site-footer,
#productModal .related.products,
#productModal .woocommerce-store-notice,
#productModal .demo_store {
  display: none;
}
#productModal .ast-separate-container .ast-woocommerce-container {
  padding: 0;
}
#productModal .woocommerce-tabs.wc-tabs-wrapper {
  display: none;
}
#productModal .product {
  display: flex;
  justify-content: center;
  gap: 30px;
}
#productModal div {
  padding: 0 !important;
}
#productModal .woocommerce-product-gallery {
  width: 30%;
}
#productModal button.single_add_to_cart_button {
  margin-bottom: 20px;
}

/* Checkout */
.checkout-from-table .woocommerce-billing-fields {
  display: none;
}
.checkout-from-table .woocommerce .col2-set .col-1,
.checkout-from-table.woocommerce-page .col2-set .col-1,
.checkout-from-table .woocommerce .col2-set .col-2,
.checkout-from-table.woocommerce-page .col2-set .col-2 {
  width: 100%;
  float: none;
}
button.button.calculate-tip {
  margin-right: 10px;
}

/* Jquery Block */
.blockUI.blockMsg.blockElement {
  border: 0 !important;
  background: transparent !important;
}
/* Loader */
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #1bae70;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Responsive */
/* Desktop */
@media (min-width: 992px) {
  .tab-wrapper.cat-title-tabs.left_tabs {
    display: flex;
    gap: 30px;
  }
  .cat-title-tabs.left_tabs .tab-menu.vertical {
    width: 20%;
  }
  .cat-title-tabs.left_tabs .tab-content {
    width: 80%;
  }
  .wpliefer-product-layout .tab-menu {
    display: flex;
  }
}
@media (min-width: 768px) {
  .wpliefer-product-layout .products.grid {
    display: flex;
  }
  .wpliefer-product-layout .grid.column-1 .product,
  .wpliefer-product-layout .list .product {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .wpliefer-product-layout .grid .product {
    width: 100% !important;
  }
  .wpliefer-product-layout .tab-menu.vertical {
    margin-bottom: 20px;
  }
  .wpliefer-product-layout ul.tab-menu li {
    display: inline-block;
  }

  #branchModal .modal-body {
    padding: 30px 15px;
  }
  #branchModal .wp_liefer_save_cookies {
    padding: 15px;
    font-size: 14px;
  }
}
