.mt-3 {
  margin-top: 30px;
}
.ml-1 {
  margin-left: 10px;
}
.additives {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.additives ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 20px 0 0;
}
.additives ul li {
  list-style: none;
  display: inline-block;
}
.additives table img,
.additives li a img {
  max-width: 80px;
}
.additives table tbody > tr > td:first-child {
  width: 110px;
}
.food_extras p {
  margin-bottom: 5px;
}
.food_extras p.option-title {
  margin-top: 15px;
}
.food_extras input,
.food_extras label {
  cursor: pointer;
}
