.theme-options-container.container-carbon_fields_container_einstellungen
  .cf-complex__group-body {
  flex-wrap: nowrap;
}
.cf-container .cf-field.cf-time {
  border: 0;
}
.cf-container__tabs .cf-container__tabs-list .cf-container__tabs-item {
  background-color: #2271b1;
}
.cf-container__tabs .cf-container__tabs-list .cf-container__tabs-item button {
  color: #fff;
}
.cf-container__tabs
  .cf-container__tabs-list
  .cf-container__tabs-item:hover
  button {
  color: #333;
}
.cf-container__tabs .cf-container__tabs-item.cf-container__tabs-item--current {
  background-color: #fff;
}
.cf-container__tabs
  .cf-container__tabs-item.cf-container__tabs-item--current
  button {
  color: #333;
}

.wp_liefer_custom_percents .cf-complex__group.cf-complex__group--grid {
  max-width: 250px;
}
/* span.cf-complex__group-index {
  visibility: hidden;
} */
.cf-complex__groups .cf-complex__group-body {
  flex-wrap: nowrap;
}
.cf-field__body .cf-file__inner {
  width: 90px;
  height: 90px;
}
.cf-container .cf-complex > .cf-field__head .cf-field__label {
  color: #1e2365;
  font-weight: 600;
  font-size: 18px;
}

/* Food Extra Options */
.wp_liefer_food_extras .cf-complex__groups .cf-complex__group-body {
  flex-wrap: wrap;
}
.wp_liefer_food_extras
  .wp_liefer_food_extra_options
  .cf-complex__groups
  .cf-complex__group-body {
  flex-wrap: nowrap;
}
.wp_liefer_food_extras input,
.wp_liefer_food_extras select {
  max-width: 260px;
}
.wp_liefer_food_extras
  > .cf-field__body
  > .cf-complex__groups
  > .cf-complex__group {
  border: 2px solid #135e962b;
  border-radius: 3px;
  margin-bottom: 20px;
}
.cf-multiselect__multi-value {
  display: inline-block;
}
.fit-content .cf-field__body {
  max-width: fit-content;
}
/* Food Extra Options End */

#qr_code img {
  max-width: 100%;
}
