.theme-options-container.container-carbon_fields_container_einstellungen
  .cf-complex__group-body {
  flex-wrap: nowrap;
}
.cf-container .cf-field.cf-time {
  border: 0;
}
.cf-container__tabs .cf-container__tabs-list .cf-container__tabs-item {
  background-color: #2271b1;
}
.cf-container__tabs .cf-container__tabs-list .cf-container__tabs-item button {
  color: #fff;
}
.cf-container__tabs
  .cf-container__tabs-list
  .cf-container__tabs-item:hover
  button {
  color: #333;
}
.cf-container__tabs .cf-container__tabs-item.cf-container__tabs-item--current {
  background-color: #fff;
}
.cf-container__tabs
  .cf-container__tabs-item.cf-container__tabs-item--current
  button {
  color: #333;
}

.wp_liefer_custom_percents .cf-complex__group.cf-complex__group--grid {
  max-width: 250px;
}
span.cf-complex__group-index {
  visibility: hidden;
}
